<% for person in @people %>
<div class="person">
  <p><%= person.firstname %></p>
  <p><%= person.lastname %></p>
  <p><%= person.graduation_class %></p>
  <p><%= person.emailnonnd %></p>
  <p><%= person.emailnd %></p>
  <p><%= person.currentcity %></p>
</div>
<% end %>
