<div class="people_list">
<% @people.each do |person| %>
<% exp = Experience.find_by(person_id: person.id) %>
<% if exp %>
<div class="col-sm-6 col-md-4 card">
  <div class="card-inner">
    <p><%= person.firstname %> <%= person.lastname %> (Class of <%= person.graduation_class %>)</p>
    <%= if person.emailnd
          "<p>#{person.emailnd}</p>"
        elsif person.emailnonnd
          "<p>#{person.emailnonnd}</p>"
        else
          "<p>No email on file</p>"
        end %></p>
    <p><%= exp.company %></p>
  </div>
</div>
<% end %>
<% end %>

</div>
